body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}

#principal {
    width: 900px;
}
